/* Content */
* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #fff;
    background-color: red;
    padding: 25px;
    margin-bottom: 15px;
}

a, .button {
    width: 60px;
    border: none;
    background-color: crimson;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover, .button:hover {
    background-color: tomato;
}

a {
    padding: 5px;
    text-align: center;
}

/* Form */
form {  
    display: grid;
    flex-flow: row wrap;
    align-items: center;
    margin: 50px;
    margin-top: auto;
    height: 50px;
}
  
form label {
    margin: 5px 10px 5px 0;
}
  
form input {
    vertical-align: bottom;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.card-button {
    display: flex;
}

img {
    width: 500px;
    float: right;
}

/* Table */
.container {
    margin: 5px;
}

table { 
    width: 100%;
    margin-top: 20px; 
    border-collapse: collapse;
}

/* Zebra striping */
tr:nth-of-type(odd) { 
    background: #eee; 
}

th { 
    background: salmon; 
    color: white; 
    font-weight: bold; 
}

td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}

/* Footer */
footer {
    padding: 20px;	
	font-weight: bold;
    align-items: center;
    margin-top: 5%;
}

footer p {
    text-align: center;
}